:root {
    transition-property: opacity;
}

.hide {
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
    transition-timing-function: ease-in-out;
    display: none;
}

.button {
    align-self: flex-end;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 14px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.unity-button {
}



.option {
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 0;
    white-space: normal;
    -unity-text-align: upper-left;
    -unity-paragraph-spacing: 25px;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-400.ttf?fileID=12800000&guid=eb69cf80b9122864d911be23ec24dd83&type=3#rl-horizon-400");
    font-size: 21px;
    background-color: rgb(255, 255, 255);
    border-top-width: 4.5px;
    border-right-width: 4.5px;
    border-bottom-width: 4.5px;
    border-left-width: 4.5px;
    width: auto;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    padding-right: 17.5px;
    padding-left: 17.5px;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 450px;
    max-height: 200px;
    min-height: 60px;
    min-width: 332px;
    transition-property: background-color;
}

.show {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.red {
    background-color: rgba(204, 63, 63, 0.76);
    transition-property: background-color;
    transition-duration: 1s;
}

.basecolor {
    background-color: rgba(202, 202, 202, 0.76);
}



.option:hover {
    background-color: rgb(255, 234, 133);
    transition-property: background-color;
}

.option:focus {
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-left-color: rgb(214, 105, 105);
    border-right-color: rgb(214, 105, 105);
    border-top-color: rgb(214, 105, 105);
    border-bottom-color: rgb(214, 105, 105);
    transition-property: border-color;
}
