:root {
}

.panel {
    align-items: flex-start;
    justify-content: center;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.hide {
    display: flex;
    visibility: hidden;
}

.menu {
    align-items: stretch;
    align-content: auto;
    width: 70%;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
    align-self: auto;
    flex-direction: column;
}

.unity-button {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.remove {
    display: none;
}

.unity-base-field {
    flex-direction: row;
    justify-content: flex-start;
    color: rgb(27, 27, 27);
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 26px;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-400.ttf?fileID=12800000&guid=eb69cf80b9122864d911be23ec24dd83&type=3#rl-horizon-400");
}

.unity-base-slider {
    width: auto;
    flex-direction: column;
    align-items: auto;
    align-self: stretch;
    align-content: stretch;
    justify-content: flex-start;
    color: rgb(27, 27, 27);
}

.unity-slider-int {
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
    align-self: auto;
    align-content: stretch;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 26px;
}

.unity-base-slider__tracker {
    width: initial;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    right: 9px;
    left: 0;
}

.unity-base-slider__dragger {
    align-self: auto;
    align-content: auto;
    align-items: auto;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgb(0, 0, 0);
    margin-top: -22px;
}

.unity-label {
    flex-wrap: wrap;
    color: rgba(27, 27, 27, 0);
    left: -28px;
}

.big-label {
    font-size: 48px;
    -unity-font-style: normal;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    padding-left: 40px;
    left: 11px;
}

.input-field {
    flex-direction: row;
    background-color: rgb(208, 187, 187);
    border-top-width: 20px;
    border-left-color: rgb(164, 105, 105);
    border-right-color: rgb(164, 105, 105);
    border-top-color: rgb(164, 105, 105);
    border-bottom-color: rgb(164, 105, 105);
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 40px;
}

.continue {
    background-image: resource("TMO_btn_continue");
    background-color: rgba(0, 0, 0, 0);
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 90px;
    padding-right: 80px;
    padding-left: 80px;
    color: rgba(27, 27, 27, 0);
    margin-bottom: 20px;
}

.continue:hover {
    background-image: resource("TMO_btn_continue_hover");
}

.settings {
    background-image: resource("TMO_btn_settings");
    padding-right: 80px;
    padding-left: 80px;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 90px;
    color: rgba(27, 27, 27, 0);
    margin-bottom: 20px;
}

.settings:hover {
    background-image: resource("TMO_btn_settings_hover");
}

.quit {
    background-image: resource("TMO_btn_quit");
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 90px;
    padding-right: 80px;
    padding-left: 80px;
    color: rgba(27, 27, 27, 0);
}

.quit:hover {
    background-image: resource("TMO_btn_quit_hover");
}

.unity-base-slider__text-field {
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    right: 0;
    left: 9px;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 26px;
}

.input-field {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 26px;
}

.unity-base-text-field__input {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    font-size: 26px;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    background-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    text-overflow: clip;
    flex-grow: 1;
    -unity-font-style: normal;
}

.unity-popup-field__input {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    width: auto;
    right: 20px;
    left: auto;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-400.ttf?fileID=12800000&guid=eb69cf80b9122864d911be23ec24dd83&type=3#rl-horizon-400");
    font-size: 24px;
    white-space: nowrap;
}

.save-btn {
    background-image: resource("TMO_btn_save");
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 48px;
    padding-right: 60px;
    padding-left: 60px;
    color: rgba(27, 27, 27, 0);
}

.save-btn:hover {
    background-image: resource("TMO_btn_save_hover");
}

.back-btn {
    background-image: resource("TMO_btn_back");
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-700.ttf?fileID=12800000&guid=b99393b03af9ad943a296e4e5b16b631&type=3#rl-horizon-700");
    font-size: 48px;
    padding-right: 60px;
    padding-left: 60px;
    color: rgba(27, 27, 27, 0);
}

.back-btn:hover {
    background-image: resource("TMO_btn_back_hover");
}

.unity-base-field__input {
    left: -16px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 12px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.unity-base-slider__input {
    padding-left: -31px;
}

.startMenuBtn {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-font-definition: url("project://database/Assets/fonts/rl-horizon-400.ttf?fileID=12800000&guid=eb69cf80b9122864d911be23ec24dd83&type=3#rl-horizon-400");
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.startMenuBtn:hover {
    color: rgb(0, 255, 24);
    transition-property: color;
    transition-duration: 0.3s;
}
